#--------------------------#
# Magento Default Files    #
#--------------------------#

/PATCH_*.sh

/app/etc/local.xml

/media/*
!/media/.htaccess

!/media/customer
/media/customer/*
!/media/customer/.htaccess

!/media/dhl
/media/dhl/*
!/media/dhl/logo.jpg

!/media/downloadable
/media/downloadable/*
!/media/downloadable/.htaccess

!/media/xmlconnect
/media/xmlconnect/*

!/media/xmlconnect/custom
/media/xmlconnect/custom/*
!/media/xmlconnect/custom/ok.gif

!/media/xmlconnect/original
/media/xmlconnect/original/*
!/media/xmlconnect/original/ok.gif

!/media/xmlconnect/system
/media/xmlconnect/system/*
!/media/xmlconnect/system/ok.gif

/var/*
!/var/.htaccess

!/var/package
/var/package/*
!/var/package/*.xml
/vendor/
/generated/
/pub/
/var/
/lib/
/app/etc/config.php
/app/etc/env.php
/.env
/app/.htaccess
/app/bootstrap.php
/app/autoload.php
/auth.json.sample
/bin/
/dev/
/.editorconfig
/.htaccess.sample
/.php-cs-fixer.dist.php
/.user.ini
/CHANGELOG.md
/COPYING.txt
/Gruntfile.js.sample
/LICENSE.txt
/LICENSE_AFL.txt
/SECURITY.md
/setup/
/grunt-config.json.sample
/nginx.conf.sample
/package.json.sample
/phpserver/
/.htaccess